<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${articleDto.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/zico.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
</head>
<body class="post-body">
<div th:insert="~{fragment/header :: header}">
</div>
<div class="intro-landing">
    <div class="about-img"></div>
    <div class="site-intro-meta">
        <div class="site-title">
            <h1 th:text="${articleDto.title}">
            </h1>
        </div>
        <div class="post-intros">
            <div class="post-intro-meta">

                <div class="d-inline" th:if="${session.user != null && articleDto.user.userType == 0}">
                    <a class="pr-3" th:href="@{'/publish/'+${articleDto.id}}">编辑</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div class="blog-container">
        <main class="main">
            <div class="article-entry" id="text-md-view">
                <textarea style="display: none;" th:text="${articleDto.content}"></textarea>
            </div>
        </main>
    </div>
</div>
</body>
<script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/js/editormd.min.js" type="application/javascript"></script>
<script src="/js/lib/marked.min.js" type="application/javascript"></script>
<script src="/js/lib/prettify.min.js" type="application/javascript"></script>
<script src="/pagejs/header.js" type="application/javascript"></script>
<script src="/pagejs/article.js" type="application/javascript"></script>
</html>