<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${articleDto.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/zico.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
</head>
<body class="post-body">
<div th:insert="~{fragment/header :: header}">
</div>
<div class="intro-landing">
    <div class="intro-img"></div>
    <div class="site-intro-meta">
        <div class="site-title">
            <h1 th:text="${articleDto.title}">
            </h1>
        </div>
        <div class="post-intros">
            <div class="post-intro-tags">
                <a class="post-tag pr-3" href="javascript:;" th:each="tag:${articleDto.tagList}"
                   th:text="${tag.tagName}"></a>
            </div>
            <div class="post-intro-meta">
                <i class="zi zi_calendar pr-2"></i>
                <span class="post-intro-time pr-3" th:text="${#dates.format(articleDto.gmtCreate,'yyyy/MM/dd')}"></span>

                <i class="zi zi_eye pr-2"></i>
                <span id="busuanzi_container_page_pv0" class="busuanzi-pv pr-5" style="display: inline;">
                        <span th:text="${articleDto.viewCount}"></span>
                 </span>

                <div class="d-inline" th:if="${session.user != null && articleDto.user.userType == 0}">
                    <a class="pr-3" th:href="@{'/publish/'+${articleDto.id}}">编辑</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div class="blog-container">
        <main class="main">
            <div class="article-entry" id="text-md-view">
                <textarea style="display: none;" th:text="${articleDto.content}"></textarea>
            </div>
            <div class="reply-wrapper">
                <div class="reply-count">
                    2评论
                </div>
                <div class="reply-cards">
                    <div class="reply-card">
                        <img th:src="${session.user.avatarUrl}" class="reply-avatar">
                        <div class="reply-right">
                            <div class="reply-head">
                                <span class="reply-nick" th:text="${session.user.name}"></span>
                                <span class="reply-sys">123.864.15.547</span>
                            </div>
                            <div class="reply-meta">
                                <span class="reply-time" th:text="${#dates.format(session.user.gmtCreate)}"></span>
                            </div>
                            <div class="reply-content">
                                撒大大大大大萨达萨达现在辞职
                            </div>
                        </div>
                    </div>
                </div>
                <div id="reply">
                    <div class="reply-box">
                        <div class="r-wrapper">
                            <div class="reply-box-header">
                                <input name="nick" placeholder="昵称" class="header-input" type="text">
                                <input name="mail" placeholder="邮箱" class="header-input" type="email">
                                <input name="link" placeholder="网址(http://)" class="header-input" type="text">
                            </div>
                            <div id="reply-edit-box">
                                <textarea style="display: none;" id="reply-content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="toc-wrapper" >
    <div class="side-top">
        <i class="zi zi_listSquare pr-2"></i>
        <span>CATALOG</span>
        <div id="toc-container"></div>
    </div>
</div>
<div th:insert="~{fragment/sidebar :: sidebar}"></div>
</body>
<script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/js/simple-sidebar.min.js" type="application/javascript"></script>
<script src="/js/editormd.min.js" type="application/javascript"></script>
<script src="/js/lib/marked.min.js" type="application/javascript"></script>
<script src="/js/lib/prettify.min.js" type="application/javascript"></script>
<script src="/pagejs/sidebar.js" type="application/javascript"></script>
<script src="/pagejs/header.js" type="application/javascript"></script>
<script src="/pagejs/article.js" type="application/javascript"></script>
</html>