<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Star Platinum的世界</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/zico.min.css">
</head>
<body>
<div th:insert="~{fragment/header :: header}">
</div>
<div class="intro-landing">
    <div class="intro-title">
        <h1>single spark can start a prairie fire
        </h1>
    </div>
    <div class="intro-img"></div>
</div>
<div id="wrapper">
    <div class="blog-container">
        <div class="profile">
            <img src="/img/github-avatar.jpg" class="avatar-big rounded-0">
            <div class="profile-name">
                Star Platinum
            </div>
            <div class="profile-signature">
                生死有命，富贵在天
            </div>
            <div class="profile-social">
                <a href="mailto:GLDZPang@outlook.com" class="pr-2" target="_blank" title="email"><i
                        class="zi zi_envelopeBold"></i></a>
                <i class="zi zi_tmWeixin pr-2" title="wechat">
                    <img class="profile-qr" src="/img/wechat-qr.jpg">
                </i>
                <i class="zi zi_tmQq pr-2" title="QQ">
                    <img class="profile-qr" src="/img/qq-qr.jpg">
                </i>
            </div>
            <div class="about-me">
                <a href="/about">ABOUT ME</a>
            </div>
        </div>
        <main class="main">
        </main>
    </div>
    <a class="load-more gray" href="javascript:;" id="btn-page">LOAD MORE</a>
    <div class="d-flex justify-content-center pt-4 pb-4" id="spinner" style="display: none">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<a href="javaScript:;" class="top"><i class="zi zi_doubleUp"></i></a>
<div class="tags-wrapper">
    <div class="side-top">
        <i class="zi zi_list pr-2"></i>
        <span>CATEGORY</span>
        <div id="tag-content" class="index-tags">
            <a class="post-tag" href="/">ALL</a>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/pagejs/header.js" type="application/javascript"></script>
<script src="/pagejs/index.js" type="application/javascript"></script>
</html>